_book
node_modules

.idea

cmake-build-*
cmake-build-debug
*/cmake-build-debug
Makefile

CMakeFiles
*/CMakeFiles/
*.cmake
*.vcxproj
*.filters
.vs
*.sln
*.lib
*.a
CMakeCache.txt
*.cbp

*.exe
*.bin
*.manifest
